<div class="admin-menu">
  <h2>Admin Menu</h2>
  <ul>
    <li class="menu-title">Manage Content
      <ul>
        <li><a href="/admin/blogs/content">Blogs</a></li>
        <li><a href="/admin/pages/content">Pages</a></li>
        <li><a href="/admin/projects/content">Projects</a></li>
      </ul>
    </li>
    <li class="menu-title">Taxonomy</li>
    <li class="menu-title">Menu</li>
  </ul>
</ul>
</div>
