<div class="form-group">
 <label>Body</label>
 <textarea name="body" id="body" type="text" value="" class="form-control">{{body}}</textarea>
 <script>
              // Replace the <textarea id="editor1"> with a CKEditor
              // instance, using default configuration.
              CKEDITOR.replace( 'body' );
          </script>
</div>
