<footer class="footer">
      <div class="container">
          <div class="col-sm-4">
      <h2>About</h2>
      <img src="/images/smanongga-logo-small.png" alt="smanongga.github.io logo">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt augue quis dui eleifend, ac dictum nulla pellentesque. Donec bibendum mauris vitae arcu lacinia, mollis consectetur dolor lacinia. </p>
      </div>
      <div class="col-sm-4">
        <h2>Menu</h2>
    <ul class="menu">
      <li><a href="about.html">About</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="blog.html">Blog</a></li>
    </ul>
  </div>
  <div class="col-sm-4">
</div>
      </div>
    </footer>
