<div class="sidebar-container social-media">
    <h4>Social Media</h4>
<hr>
<ol class="list-unstyled">
  <li><a href="https://github.com/smanongga" target="_blank"><i class="fa fa-github fa-2x"></i> </a></li>
  <li><a href="https://www.freecodecamp.com/smanongga" target="_blank"><i class="fa fa-free-code-camp fa-2x"></i> </a></li>
  <li><a href="https://www.linkedin.com/in/smanongga/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i> </a></li>
  <li><a href="https://www.facebook.com/sam.manongga"><i class="fa fa-facebook-official fa-2x"></i> </a></li>
</ol>
</div>
