{{> header}}
<script type="text/javascript">
$(document).ready(function(){
$('input.typeahead').typeahead({
name: 'typeahead',
remote: 'http://localhost:3000/search?key=%QUERY',
limit: 10
});
});
</script>
<div class="container">
  <h2>Create a Project</h2>
<form class="" action="/page/submit" method="post">
   <div class="form-group">
  <label>Title</label>
  <input type="text" name="title" value="" class="form-control">
</div>
 <div class="form-group">
  <label>Body</label>
  <textarea name="body" id="body" type="text" value="" class="form-control"></textarea>
  <script>
               // Replace the <textarea id="editor1"> with a CKEditor
               // instance, using default configuration.
               CKEDITOR.replace( 'body' );
           </script>
</div>

 <div class="form-group">
  <label>Author</label>
  <input type="text" name="author" value="" class="form-control">
</div>
<div class="form-group">
 <label>Publish Options</label>
 <select name="status" class="form-control">
   <option value="draft">Draft</option>
   <option value="published">Published</option>
   <option value="unpublished">Unpublished</option>
 </select>
</div>
<div class="form-group">
 <label>Published Date</label>
   <input type="date" class="form-control" name="publishedDate">
</div>
  <input type="submit" name="add" value="Submit" class="btn btn-primary">
</form>
</div> <!-- / .container -->
{{> footer}}
