{{> header}}
<div class="container">
      <div class="col-sm-8 blog-main">
        {{> blog_entries}}
      </div>
      <div class="col-sm-4 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            {{> about_me}}
          </div>
          <div class="sidebar-module">
            {{> social_media}}
          </div>
      </div>
</div> <!-- / .container -->
{{> footer}}
