{{> header}}
<div class="container">
<div class="col-sm-12 blog-main">

          <div class="blog-post">
            <h1 class="blog-post-title">Projects</h1>
            <div class="blog-post-entry">
            <p>Below are some projects I have done so far</p>
            <h2>Enspiral Dev Academy (EDA) Bootcamp</h2>
            <div class="flex-grid-fifth">
<div class="col"><img src="../images/projects/eda-build-personal-blog-thumb.jpg" alt="Image: Personal blog post thumbnail"><h3 class="project-title">Build Personal Blog</h3><p class="project-tag">Bootstrap, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">HTML5 Semantic</h3><p class="project-tag">Skeleton, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Guess the Number</h3><p class="project-tag">HTML, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Minesweeper Game</h3><p class="project-tag">HTML, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Random Maori Proverb</h3><p class="project-tag">Skeleton, CSS, Javascript</p></div>
</div>
            <h2>freeCodeCamp</h2>
            <div class="flex-grid-fifth">
<div class="col"><h3 class="project-title">Build a Tribute Page</h3><p class="project-tag">Bootstrap, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Build a Personal Portfolio Page</h3><p class="project-tag">Boostrap, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Random Quote Machine</h3><p class="project-tag">Bootstrap, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Show the Local Weather</h3><p class="project-tag">Bootstrap, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Wikipedia Viewer</h3><p class="project-tag">Bootstrap, CSS, Javascript</p></div>
</div>
            <h2>Western Academy of Beijing (WAB)</h2>
            <div class="flex-grid-fifth">
<div class="col"><img src="../images/projects/project-apac-tournament-thumb.jpg"><h3 class="project-title">APAC Tournament Website</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Online Recruitment</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Online Admissions</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">Activities Registration</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">AQI Viewer</h3><p class="project-tag">PHP, CSS, Javascript</p></div>
</div>
<div class="flex-grid-fifth">
<div class="col"><img src="../images/projects/project-wab-internal-portal-thumb.jpg"><h3 class="project-title">MyWAB Portal</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><img src="../images/projects/project-wabx-activities-thumb.jpg"><h3 class="project-title">WABX Activities Website</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><img src="../images/projects/project-wab-edu-thumb.jpg"><h3 class="project-title">WAB.EDU Website</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
<div class="col"><h3 class="project-title">WAB Alumni Database</h3><p class="project-tag">Drupal, CiviCRM</p></div>
<div class="col"><h3 class="project-title">Student Portraits Gallery</h3><p class="project-tag">Drupal, CSS, Javascript</p></div>
</div>
<div class="flex-grid-fifth">
<div class="col"><h3 class="project-title">Livestream Page</h3>HTML, CSS, Javascript</div>
</div>
<h2>Other</h2>
<div class="flex-grid-fifth">
<div class="col"><img src="../images/projects/project-swiss-school-beijing-thumb.jpg"><h3 class="project-title">Swiss School Beijing</h3>Bootstrap, CSS, Javascript</div>
</div>
            </div>
          </div><!-- /.blog-post -->


        </div>


</div> <!-- / .container -->
{{> footer}}
