{{> header}}
<div class="container">
    <div class="col-md-12">
        <div class="blog-post">
         <h2 class="blog-post-title">{{title}}</h2>
        <div class="blog-post-entry">
        <p>{{{body}}}</p>
      </div>
        </div><!-- /.blog-post -->
    </div>
</div> <!-- / .container -->
{{> footer}}
