body {
  margin:auto 0px;
  font-family: 'Proxima Nova', 'sans-serif';
  background:#f9f9f9;
  line-height:1.65em;
}
nav.frontpage {
  margin-bottom:0px;
}
.hero-subheader {
    overflow: hidden;
    position: relative;
}
.hero-subheader video {
    position: absolute;
    top: 51%;
    left: 51%;
    min-width: 102%;
    min-height: 102%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.hero-subheader .container {
}
nav.navbar-default {
  background:#ffffff;
  -webkit-box-shadow:none;
  box-shadow:none;
}
nav .container {
  margin-top:20px;
  margin-bottom:12px;
  display:block;
}
nav .navbar-nav a {
  text-transform: uppercase;
  font-weight:bold;
  font-size:16px;
}
nav .navbar-nav ul.dropdown-menu li a {
  text-transform:capitalize;
  font-weight:normal;
  font-size:14px;
}
nav .navbar-nav ul.dropdown-menu .dropdown-header {
  font-size:16px;
  font-weight:bold;
  color:#333333;
}
.navbar-default .navbar-nav>.active>a {
  background:none;
  background-image:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#ff0000;
}

.navbar-brand {
  background: url(../images/smanongga.logo.svg) no-repeat;
  background-size: 100%;
  height:65px;
  width:320px;
}
.blog-post, .sidebar-module {
  background:#ffffff;
  border:1px solid #f1f1f1;
  margin-bottom:50px;
}
.blog-post img {
  width:100%;
}
.blog-post i {
  margin-rig
}
.blog-post-title  {
  margin:20px 20px 20px 20px;
  font-weight:600;
  font-size:40px;
  color:#333333;
}
.blog-post-title a.blog {
  color:#333333;
  text-decoration: none;
}
.blog-post-meta {
  margin:0px 0px 20px 20px;
  display:inline-block;
  font-size:12px;
  color:#888888;
  text-transform: uppercase;
  width:25%;
}
.blog-post-meta i {
  margin-right:10px;
}
.blog-post-entry {
  margin:20px;
}
.blog-post-entry p {
  line-height:1.65em;
  font-size:16px;
  color:#333333;
  margin-bottom:20px;
}
.blog-post-entry h2 {
  font-size:20px;
  font-weight:bold;
  margin-bottom:20px;
}
.blog-post-entry h3 {
  font-size:18px;
  font-weight:bold;
  margin-bottom:20px;
}
.blog-post a.read-more {
  color:#ff0000;
  font-size:14px;
  font-weight:bold;
}
.sidebar-module .profile {
  border:4px solid #ffffff;
  border-radius:50%;
  overflow:hidden;
  position:absolute;
  top:50px;
  left:40px;
  height:90px;
}
.sidebar-module h4.profile-name {
  margin-left:120px;
}
.sidebar-module h4 {
  text-transform: uppercase;
  font-weight:bold;
}
.sidebar-module img.bg-image {
  width:100%;
}
.sidebar-module .sidebar-container {
  margin:20px;
  padding-bottom:10px;
  text-align:center;
}
.sidebar-module .social-media ol li  {
  display:inline-block;
  margin-right:30px;
  margin-bottom:0px;
}
.sidebar-module .social-media a {
    color:#ff0000;
}
footer {
  background:#222222;
  color:#ffffff;
  padding-bottom:20px;
  padding-top:20px;
}
footer .container {
  margin-top:0px;
}
footer h2 {
  font-size:18px;
  border-bottom:1px solid #444;
  padding-bottom:10px;
}
footer ul.menu {
  list-style-type:none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}
footer ul.menu li {
  width:32%;
  display:inline-block;
  font-size:20px;
  text-align:center;
}
footer ul.menu li a {
  color:#fff;
  text-transform: uppercase;
}
.flex-grid-fifth {
  display: flex;
  justify-content: space-between;
}
.flex-grid-fifth .col {
  width: 20%;
  padding:10px;
}
.flex-grid-fifth img {
  border:1px solid #BBBBBB;
}
.flex-grid-fifth .project-tag {
  font-size:12px;
}
form {
  margin-bottom:50px;
}

.twitter-typeahead {
    width: 100%;
    position: relative;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width:100%;
    height: 34px;
    position: absolute;
    top:0;
    left:0;
}
.twitter-typeahead .tt-hint {
    color:#a1a1a1;
    z-index: 1;
    padding: 6px 12px;
    border:1px solid transparent;
}
.twitter-typeahead .tt-query {
    z-index: 2;
    border-radius: 4px!important;
    /* add these 2 statements if you have an appended input group */
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    /* add these 2 statements if you have an prepended input group */
   /*  border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important; */
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

h2.title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
h1.lead {
  font-size: 72px;
line-height: 1.3125;
font-weight:bold;
}
h2.follow {
  font-size:34px;
  font-weight:bold;
  margin-bottom:60px;
  line-height:1.65em;
}
p.intro {
  font-size:24px;
  font-weight:bold;
}
span.red {
  background:#FF0000;
  padding-right:10px;
  padding-left:10px;
}
.message {
  color:#ffffff;
  position: relative;
      z-index: 1;
    padding: 100px 0 100px 0;
}
.blog-frontpage h2.title {
  font-weight:bold;
}
.blog-frontpage .blog-post .blog-post-title {
  font-size:30px;
}
.admin-menu h2 {
  font-size:20px;
  margin-top: 10px;
}
.admin-menu ul {
    padding-left: 10px;
    list-style-type: none;
}
.admin-menu ul li ul {
    list-style-type: disc;
    padding-left:30px;
}
.admin-menu ul li {
  font-weight:normal;
}
.admin-menu ul li.menu-title {
  font-weight:bold;
}
ul.add-content {
  text-align:right;
  font-size:16px;
  margin-top:10px;
}

ul.add-content li {
  display:inline-block;
  margin-left:10px;
  margin-right:10px;
}
.bulk {
  margin-top:30px;
}
.admin-menu {
  background:#ffffff;
  padding:10px;
}
.heart {
  color:#ff0000;
}
.flex-box {
  display: flex;
  flex-direction: row;
  width:100%;
    flex-wrap: wrap;
}
.flex-box .blog-post {
  width:48%;
  margin:10px;
}
.project {
  background:#FF0900;
  color:#ffffff;
  text-align:center;
}
.project .container {
  padding-bottom:40px;
  padding-top:20px;
}
.project .content {
  text-align:left;
}
.project .image {
}
